<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= itemData['name'] %></title>
    <link rel="icon" href="https://www.pngrepo.com/png/44192/180/wine.png">
    <%- include('../partials/header.ejs') %>
</head>

<body style="background-color:#F5F2EA">
    
    <div class="p-10 grid grid-cols-2 sm:grid-cols-2 gap-2" style="margin-bottom:100px">        
        <div class="w-full max-w-sm bg-white rounded-lg shadow-md xl" style="margin-top:50px;margin-left:150px">
            <a href="#">
                <img class="p-8 rounded-t-lg" src="<%= itemData['imageURL'] %>" alt="product image" />
            </a>
            <div class="px-5 pb-5">
                <a href="#">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"><%= itemData['name'] %></h5>
                </a>
                <div class="flex items-center mt-2.5 mb-5">
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
                </div>
                <form action="/itempage/<%=id%>" method="POST">
                    <div class="flex justify-between items-center">
                        <span class="text-3xl font-bold text-gray-900 dark:text-white">₱<%= itemData['price'] %>.00</span>
                        <!--a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add to procurement</a-->
                        <input id="Procbox" type="number" name="quantity" style="height:30px;width:150px">
                        
                        <button id="Insbtn" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="overflow-x-auto relative" style="margin-top:50px;margin-right:150px">
            <table class="w-full text-sm text-left text-gray-500" id="table">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Date of Transaction
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Number of Procurement
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var index=0; index < proc_array.length; index++){ %>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <%= proc_array[index]['dateCreated'].toDate() %>
                            </th>
                            <td class="py-4 px-6">
                                <%= proc_array[index]['procurementTrans'] %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            TOTAL
                        </th>
                        <td scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                            <span id="val"></span>
                        </td>
                    </tr>
                </thead>
            </table>
            <script>
                var table = document.getElementById("table"), sumVal = 0;
                for(var i = 1; i < table.rows.length; i++)
                {
                    sumVal = sumVal + parseInt(table.rows[i].cells[1].innerHTML);
                }
                document.getElementById("val").innerHTML = sumVal;
                console.log(sumVal);
            </script>
        </div>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyD87Tu6s1YGn9CVvlWZbBYmzS_HaLzUFdE",
          authDomain: "premiumluxuriouswines.firebaseapp.com",
          projectId: "premiumluxuriouswines",
          storageBucket: "premiumluxuriouswines.appspot.com",
          messagingSenderId: "857464953411",
          appId: "1:857464953411:web:93762d4d7131c010bc12f6"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        import {
            getFirestore, doc, getDoc, setDoc, collection, addDoc, updateDoc, deleteDoc, deleteField
        }
        from "https://www.gstatic.com/firebasejs/9.12.1/firebase-firestore.js";

        var fs = require("firebase-admin");
        const db = fs.firestore();
        const messageRef = db.collection('items').doc(id).collection('procurement');


        //-- references --//
        let ProcBox = document.getElementById("Procbox");
        let insBtn = document.getElementById("Insbtn");

        //-- adding documents --//
        /*async function AddDocument_AutoID(){
            var ref = collection(messageRef);

            const docRef = await addDoc(
                ref, {
                    procurementTrans: ProcBox.value
                }
            )
            .then(()=>{
                alert("data added successfully");
            })
            .catch((error)=>{
                console.log(error)
                alert("unsuccesful operation, error:"+ error);
            });
        }*/
        // -- assign events to buttons --//
        insBtn.addEventListener("click", AddDocument_AutoID);

      </script>


    <%- include('../partials/footer.ejs') %>

</body>
</html>